body{
    background-color: #f6f6f6;
    box-sizing: border-box;
  }
  ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }

  a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  
.container {
    max-width: 375px;
    margin: 0 auto;
    padding: 40px 20px 80px;
      
}
/* ============================================= */

.shop-list {
    width: 100%;
}
.shop-list-title {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;
    color: #111;
    margin-bottom: 40px;
}
.shop-list-title-span {
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.19;
    letter-spacing: -0.04em;
    color: #4f2ee8;
}
.cart {
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
    width: 355px;
    height: 170px;
}
.shop-list-cart {
    
}
.shop-list-element {
  display: flex;
    gap: 24px;
    border: 2px solid rgba(79, 46, 232, 0.4);
    border-radius: 16px;
    padding: 30px 24px;
    width: 996px;
    background-color: #fff;
}
.shop-list-element-img {
    
}
.cart-content {
    
}
.shop-list-name {

}
.shop-list-element-title {
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.125;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #111;  
    
}
.shop-list-element-category {
  font-family: "DM Sans", sans-serif;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: 0.03em;
color: #b4afaf;   
}

.shop-list-btn {
  border-radius: 50%;
  background-image: url(/img/delate.png);
  width: 28px;
  height: 28px; 
}

.shop-list-txt-descriptoin {

}
.shop-list-element-description {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  color: #111;
  overflow: hidden;
}
.shop-list-footer{
  
}
.shop-list-element-autor {
  font-family: "DM Sans", sans-serif;
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 1.16667;
letter-spacing: -0.04em;
color: #b4afaf;
    
}
.shop-list-shops {
   
}
.shop-list-shops-iteam {
}
.shop-list-shops-link {
}
